* {
    margin: 15px;
    padding: 0px;
    font-family: sans-serif;
  }
h1 {
    margin: 0px 0px 0px 30px;
}
#wrapper {
    background  : linear-gradient(to top, rgb(138, 234, 234),  rgb(253, 239, 255));
    width       : 100%;
    height      : 100%;
    padding     : 20px;
}
.funtitle {
    font-size   : 3.5em;
    font-style  : italic;
}